<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.rbac.mapper.EmployeeMapper">

    <resultMap id="baseResultMap" type="cn.wolfcode.rbac.domain.Employee">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="age" property="age"/>
        <result column="admin" property="admin"/>
        <result column="d_id" property="dept.id"/>
        <result column="d_name" property="dept.name"/>
        <result column="d_sn" property="dept.sn"/>
    </resultMap>

    <select id="query" resultMap="baseResultMap">
        select e.*,d.id d_id,d.name d_name,d.sn d_sn
        from employee e LEFT JOIN department d on e.dept_id=d.id
    </select>
    <delete id="delete">delete from employee where id=#{id}</delete>


    <insert id="insert">insert employee(name,password,email,age,admin,dept_id) values(#{name},#{password},#{email},#{age},#{admin},#{dept.id}) </insert>
    
    <select id="queryById" resultMap="baseResultMap">
        select e.*,d.id d_id,d.name d_name,d.sn d_sn
        from employee e LEFT JOIN department d on e.dept_id=d.id
        where e.id=#{id}
    </select>
    <update id="update">
        update employee set name=#{name},password=#{password},email=#{email},age=#{age},admin=#{admin},dept_id=#{dept.id} where id=#{id}
    </update>

    <select id="queryByKeyWord" resultMap="baseResultMap">
    select e.*,d.id d_id,d.name d_name,d.sn d_sn
    from employee e left join department d on e.dept_id = d.id WHERE (e.email  REGEXP #{keyword} )or(e.name  REGEXP #{keyword})
</select>



</mapper>